<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="container">
    <%= link_to root_path, data: { turbolinks: false }, class: "navbar-brand" do%>
      <h2 class="brand-title">Image Repository </h2>
    <% end %>

    <% if !current_page?(action: 'new') %>
      <div class="d-flex">
        <div class="search-container">
          <%= search_form_for(@q, url: search_image_url, :class => "d-flex" ) do |f| %>
            <%= f.search_field :title_or_tags_name_cont, placeholder: "Search by title or tag", :class => "form-control me-2"%>
            <%= f.submit :class => "btn btn-sm btn-secondary" %>
          <% end %>
        </div>
        <%= link_to 'New image', new_image_path, :class => "btn btn-primary" %>

      </div>
    <% end %>
  </div>
</nav>
