<p>
<%= paginate @results %>
</p>

<div class="row justify-content-start">
  <div class="card-group">
    <% @results.each do |image| %>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="img-container">
            <% if image.photo.attached? %>
              <%= link_to image_path(image) do%>
                <%= image_tag image.photo_thumbnail, alt: "Photo", :class => "card-img-top" %>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5><%= link_to image.title, image_path(image), :class => "card-title"%></h5>
            <% if image.tags.any? %>
              <u><p class="card-text">Tags</p></u>
              <p class="card-text">
              <% image.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
              </p>
            <% end %>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%=time_ago_in_words(image.created_at) %> ago</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
