<h1>New Photo</h1>

<%= form_with model: @image do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :photo %><br>
    <%= form.file_field :photo, accept: "image/png, image/x-png,image/jpeg" %>
  </div>

  <div>
    <%= form.label :tags %>
    <select style="width: 300px;" class="form-control" multiple="multiple" multiple name="image[tag_list][]" id="image_tag_list" >
      <% Image.tag_counts.map(&:name).each do |tag| %>
        <option value="<%= tag %>" <%= "selected" if @image.tag_list.include?(tag) %>><%= tag %></option>
      <% end %>
    </select>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
