<h1>New Photo</h1>

<%= form_with model: @image do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :photo %><br>
    <%= form.file_field :photo, accept: "image/png, image/x-png,image/jpeg" %>
  </div>

  <div>
    <%= form.label :tags %>
    <%= form.text_field :tag_list, value: form.object.tag_list.to_s %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
